* @Author : Pramil Paudel, Sumit Bhattarai
* Development Env : Jupyter Lab
* Module : Preprocessing 
* Summary : This module will create a data using some data modulation technique and create an intermediate data to process further.

In [54]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
from mpl_toolkits.mplot3d import Axes3D
from pandas.plotting import scatter_matrix
from IPython.display import Image
import pydotplus
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn import preprocessing
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from fbprophet import Prophet
print("Loaded Successfully -- -- -- -- -- -- -- -- -- -- -- -- --")

Loaded Successfully -- -- -- -- -- -- -- -- -- -- -- -- --

# DATA LAODING TO DF

#### Defining input/output directory

In [55]:
input_path = "/Users/patthar/Documents/FALL_2020/INTRO_DATASCIENCE/SEMESTER_PROJECT/Raw_Data/"
output_path = "/Users/patthar/Documents/FALL_2020/INTRO_DATASCIENCE/SEMESTER_PROJECT/EECS_731_SEMESTER_PROJECT/data/pre_processing/"

#### Read a File from Kanas Road Accident

In [56]:
road_accident_data = pd.read_csv(input_path+"usa_total_accodent.csv")
road_accident_data.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,2.478818e+06,3.513617e+06,3.513617e+06,3.513617e+06,1.034799e+06,1.034799e+06,3.513617e+06,1.250753e+06,3.447885e+06,1.645368e+06,3.443930e+06,3.457735e+06,3.437761e+06,3.059008e+06,1.487743e+06
mean,2.080226e+02,2.339929e+00,3.654195e+01,-9.579151e+01,3.755758e+01,-1.004560e+02,2.816167e-01,5.975383e+03,6.193512e+01,5.355730e+01,6.511427e+01,2.974463e+01,9.122644e+00,8.219025e+00,1.598256e-02
std,2.076627e+01,5.521935e-01,4.883520e+00,1.736877e+01,4.861215e+00,1.852879e+01,1.550134e+00,1.496624e+04,1.862106e+01,2.377334e+01,2.275558e+01,8.319758e-01,2.885879e+00,5.262847e+00,1.928262e-01
min,2.000000e+02,1.000000e+00,2.455527e+01,-1.246238e+02,2.457011e+01,-1.244978e+02,0.000000e+00,0.000000e+00,-8.900000e+01,-8.900000e+01,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.010000e+02,2.000000e+00,3.363784e+01,-1.174418e+02,3.399477e+01,-1.183440e+02,0.000000e+00,8.640000e+02,5.000000e+01,3.570000e+01,4.800000e+01,2.973000e+01,1.000000e+01,5.000000e+00,0.000000e+00
50%,2.010000e+02,2.000000e+00,3.591687e+01,-9.102601e+01,3.779736e+01,-9.703438e+01,0.000000e+00,2.798000e+03,6.400000e+01,5.700000e+01,6.700000e+01,2.995000e+01,1.000000e+01,7.000000e+00,0.000000e+00
75%,2.010000e+02,3.000000e+00,4.032217e+01,-8.093299e+01,4.105139e+01,-8.210168e+01,1.000000e-02,7.098000e+03,7.590000e+01,7.200000e+01,8.400000e+01,3.009000e+01,1.000000e+01,1.150000e+01,0.000000e+00
max,4.060000e+02,4.000000e+00,4.900220e+01,-6.711317e+01,4.907500e+01,-6.710924e+01,3.336300e+02,9.999997e+06,1.706000e+02,1.150000e+02,1.000000e+02,5.774000e+01,1.400000e+02,9.840000e+02,2.500000e+01

In [57]:
road_accident_data.head(1).to_string()

'    ID    Source    TMC  Severity           Start_Time             End_Time  Start_Lat  Start_Lng  End_Lat  End_Lng  Distance(mi)                                                                            Description  Number  Street Side    City      County State Zipcode Country    Timezone Airport_Code    Weather_Timestamp  Temperature(F)  Wind_Chill(F)  Humidity(%)  Pressure(in)  Visibility(mi) Wind_Direction  Wind_Speed(mph)  Precipitation(in) Weather_Condition  Amenity   Bump  Crossing  Give_Way  Junction  No_Exit  Railway  Roundabout  Station   Stop  Traffic_Calming  Traffic_Signal  Turning_Loop Sunrise_Sunset Civil_Twilight Nautical_Twilight Astronomical_Twilight\n0  A-1  MapQuest  201.0         3  2016-02-08 05:46:00  2016-02-08 11:00:00  39.865147 -84.058723      NaN      NaN          0.01  Right lane blocked due to accident on I-70 Eastbound at Exit 41 OH-235 State Route 4.     NaN  I-70 E    R  Dayton  Montgomery    OH   45424      US  US/Eastern         KFFO  2016-02-08 05:58:00            36.9            NaN         91.0         29.68            10.0           Calm              NaN               0.02        Light Rain    False  False     False     False     False    False    False       False    False  False            False           False         False          Night          Night             Night                 Night'

# FEATURE EXTRACTION

# ADDING FIPS CODE FOR BETTER VISULIZATION

In [58]:
usa_fips_code = pd.read_csv(input_path+"USA_FIPS_Code.csv")
usa_fips_code.head()

,LAUS Code,State FIPS Code,County FIPS Code,County Name/State Abbreviation,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1,1,"Autauga County, AL",2016,"25,649","24,297","1,352",5.3
1,CN0100300000000,1,3,"Baldwin County, AL",2016,"89,931","85,061","4,870",5.4
2,CN0100500000000,1,5,"Barbour County, AL",2016,"8,302","7,584",718,8.6
3,CN0100700000000,1,7,"Bibb County, AL",2016,"8,573","8,004",569,6.6
4,CN0100900000000,1,9,"Blount County, AL",2016,"24,525","23,171","1,354",5.5

In [59]:
def create_county_state(countyName,state):
    return countyName + " County, "+state

In [60]:
road_accident_data.shape

(3513617, 49)

In [61]:
road_accident_data['countyState'] = create_county_state(road_accident_data.County,road_accident_data.State)

In [62]:
usa_fips_code = usa_fips_code.rename(columns={"County Name/State Abbreviation": "countyState"})
usa_fips_code.head()

,LAUS Code,State FIPS Code,County FIPS Code,countyState,Year,Labor Force,Employed,Unemployed,Unemployment Rate (%)
0,CN0100100000000,1,1,"Autauga County, AL",2016,"25,649","24,297","1,352",5.3
1,CN0100300000000,1,3,"Baldwin County, AL",2016,"89,931","85,061","4,870",5.4
2,CN0100500000000,1,5,"Barbour County, AL",2016,"8,302","7,584",718,8.6
3,CN0100700000000,1,7,"Bibb County, AL",2016,"8,573","8,004",569,6.6
4,CN0100900000000,1,9,"Blount County, AL",2016,"24,525","23,171","1,354",5.5

In [67]:
usa_fips_code = usa_fips_code.drop(["Year","Labor Force","Employed","Unemployed","Unemployment Rate (%)"], axis=1)
usa_fips_code.head()

         LAUS Code  State FIPS Code  County FIPS Code         countyState
0  CN0100100000000                1                 1  Autauga County, AL
1  CN0100300000000                1                 3  Baldwin County, AL
2  CN0100500000000                1                 5  Barbour County, AL
3  CN0100700000000                1                 7     Bibb County, AL
4  CN0100900000000                1                 9   Blount County, AL

In [75]:
# usa_fips_code.drop(['LAUS Code'],axis=1)
usa_fips_code.head()

         LAUS Code  State FIPS Code  County FIPS Code         countyState
0  CN0100100000000                1                 1  Autauga County, AL
1  CN0100300000000                1                 3  Baldwin County, AL
2  CN0100500000000                1                 5  Barbour County, AL
3  CN0100700000000                1                 7     Bibb County, AL
4  CN0100900000000                1                 9   Blount County, AL

In [68]:
merged_df = pd.merge(road_accident_data, usa_fips_code, how="left",on="countyState")

In [ ]:
merged_df.head()

In [ ]:
merged_df.shape

# WRITING O/P TO PREPROCESSING FOLDER

In [ ]:
merged_df.to_csv()