* @Author : Pramil Paudel, Sumit Bhattarai
* Development Env : Jupyter Lab
* Module : Preprocessing 
* Summary : This module will create a data using some data modulation technique and create an intermediate data to process further.

In [5]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pylab import rcParams
from mpl_toolkits.mplot3d import Axes3D
from pandas.plotting import scatter_matrix
from IPython.display import Image
import pydotplus
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import preprocessing
from sklearn import svm
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics
from sklearn import preprocessing
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets import make_blobs
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.ensemble import RandomForestRegressor
from sklearn.neural_network import MLPRegressor
from sklearn.datasets import make_regression
from fbprophet import Prophet
print("Loaded Successfully -- -- -- -- -- -- -- -- -- -- -- -- --")

Loaded Successfully -- -- -- -- -- -- -- -- -- -- -- -- --

#### Defining input/output directory

In [6]:
input_path = "/Users/patthar/Documents/FALL_2020/INTRO_DATASCIENCE/SEMESTER_PROJECT/EECS_731_SEMESTER_PROJECT/data/raw/"
output_path = "/Users/patthar/Documents/FALL_2020/INTRO_DATASCIENCE/SEMESTER_PROJECT/EECS_731_SEMESTER_PROJECT/data/pre_processing/"

#### Read a File from Kanas Road Accident

In [10]:
kanas_road_accident = pd.read_csv(input_path+"kansas_accident.csv")
kanas_road_accident.describe()

,TMC,Severity,Start_Lat,Start_Lng,End_Lat,End_Lng,Distance(mi),Number,Temperature(F),Wind_Chill(F),Humidity(%),Pressure(in),Visibility(mi),Wind_Speed(mph),Precipitation(in)
count,4019.000000,7939.000000,7939.000000,7939.000000,3920.000000,3920.000000,7939.000000,619.000000,5336.000000,3521.000000,5333.000000,5336.000000,5332.000000,5175.000000,2948.000000
mean,208.286638,2.601335,38.937491,-94.896490,38.917301,-94.950385,0.412967,6872.620355,56.756222,47.070151,70.687043,29.550671,8.774149,9.815285,0.021126
std,25.979276,0.588076,0.296841,0.696566,0.329284,0.800350,1.836577,5756.936777,21.430681,26.480313,20.401120,0.607929,2.677129,4.955286,0.100109
min,201.000000,1.000000,37.020660,-102.023415,37.045940,-101.752655,0.000000,1.000000,-4.000000,-20.500000,13.000000,25.520000,0.000000,0.000000,0.000000
25%,201.000000,2.000000,38.934584,-94.788864,38.934200,-94.789120,0.000000,1599.500000,39.900000,24.000000,55.000000,29.010000,10.000000,6.000000,0.000000
50%,201.000000,3.000000,38.995260,-94.704780,38.990420,-94.705120,0.000000,5601.000000,60.050000,47.000000,73.000000,29.750000,10.000000,9.200000,0.000000
75%,201.000000,3.000000,39.062613,-94.677712,39.056222,-94.678490,0.450000,10398.000000,74.000000,71.000000,88.000000,30.060000,10.000000,12.700000,0.000000
max,406.000000,4.000000,39.841581,-94.607147,39.841581,-94.588520,49.492000,36650.000000,102.900000,97.000000,100.000000,30.840000,10.000000,32.200000,1.570000

In [8]:
kanas_road_accident.head(10)

,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,End_Lng,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,A-512372,MapQuest,201.0,3,2020-05-24 06:58:08,2020-05-24 07:52:08,38.932152,-94.705070,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
1,A-513096,MapQuest,201.0,3,2020-05-25 07:00:21,2020-05-25 07:29:59,39.040287,-94.673241,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
2,A-513098,MapQuest,201.0,3,2020-05-25 12:53:39,2020-05-25 14:23:49,39.095432,-94.648315,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
3,A-514290,MapQuest,241.0,2,2020-05-26 11:37:53,2020-05-26 14:12:50,38.941257,-94.761276,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
4,A-514293,MapQuest,201.0,3,2020-05-26 15:00:01,2020-05-26 15:47:13,39.073589,-94.680931,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
5,A-514294,MapQuest,201.0,3,2020-05-26 15:29:10,2020-05-26 17:09:35,39.095432,-94.648315,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
6,A-514296,MapQuest,201.0,3,2020-05-26 15:43:31,2020-05-26 16:52:37,38.993084,-94.698029,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
7,A-514297,MapQuest,245.0,3,2020-05-26 16:03:17,2020-05-26 16:52:15,39.091942,-94.632469,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
8,A-514300,MapQuest,201.0,3,2020-05-26 15:43:31,2020-05-26 18:34:52,38.993084,-94.698029,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day
9,A-514302,MapQuest,201.0,3,2020-05-26 18:58:49,2020-05-26 19:44:06,39.075680,-94.608307,NaN,NaN,...,False,False,False,False,False,False,Day,Day,Day,Day